/* 각 디바이스 환경에 최적화하기 위해 max, min으로 예외 처리*/
body{
    max-width : 80%;
    max-height: 100%;
    margin : 0 auto;
}
/* 각 박스 안 제목 리스트 */
ul{
    list-style: none;
}
/* 바디 그리드 전체 설정 */
/* 추후 행 또는 열 길이 변경 시 repeat(4,1fr, 2fr, 3fr)(4번 반복, 개별 행열 길이 설정)사용 */
/* 21.01.28 JE : align, justify-items 추가하기 */
#gridWrapper{
    display : grid;
    grid-template-columns : repeat(6,1fr); 
    grid-template-rows : repeat(29,1fr);
    gap : 20px;
    align-content : center;
    justify-content: center;
    background-color: #87CEEB;
}
/* 바디 그리드 박스 개별 설정 */
#gridBox1{
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start : 1;
    grid-row-end : 15;
    background-color: #eb9387;
}

#gridBox2{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start : 15;
    grid-row-end : 30;
    background-color: #d5eb87;
}

#gridBox3{
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start : 15;
    grid-row-end : 17;
    background-color: #87ebb1;
}

#gridBox4{
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start : 17;
    grid-row-end : 30;
    background-color: #b287eb;
}
