.commu_header{
    display : grid;
    margin : 0 auto;
    max-width : 80%;
}

.commu_logo{
    justify-self: center;
    width : 60%;
    height : 200px;
    background-image: url("../php/img2/city.gif");
}

/* 글목록 */
a{
    text-decoration: none;
    color : inherit;
}
li{
    list-style : none;
}
#commu_list{
    width : 80%;
    margin : 0 auto;
    box-sizing : border-box;
}
#commu_list ul{
    width : 100%;
}
#commu_list ul li{
    line-height : 30px;
    padding-left : 2%;
    padding-right : 5%;
}
#commu_list ul li:first-child{
    border-top : 2px solid #6a6a6a;
    border-bottom : 2px solid #6a6a6a;
    text-align : center;
    /* padding-left : 5%; */
}
#commu_list ul li:last-child{
    border-bottom : 1px solid #000;
}
#commu_list ul li:nth-child(2n){
    color : white;
    background : #4f62cf;
    border-radius : 20px;
}
#commu_list ul li span{
    display : inline-block;
    float : right;
    width : 25%;
    text-align:center;
}
#commu_list ul li strong{
    display : inline-block;
    float : left;
    margin-right : 15px;
}