*{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
}
body {
    display: inline;
    height: 100%;
    }

li{
      list-style: none;
  }
  
.header{

    display: grid;
    position: fixed;
    width: 100%;
    height: 70px;   
    grid-template-columns: repeat(26,1fr);
    grid-template-rows: repeat(10,1fr);      
    align-items: center;
    line-height: 30px;
    background-color: white;
    
}

#logo{
    grid-column-start: 12;
    grid-column-end: 16;
    grid-row-start:4; 
    grid-row-end: 4;
}
.logoBack{
   
    justify-self: center;
    width : 100%;
    height : 60px;
    background-image: url("../php/img2/city.gif");
}

.writingContainer{
   position:relative;
   max-width : 70%;
   height: 800px;
    margin : 0 auto; 
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(20, 1fr);
    align-content: center;
    justify-content: center;
    gap: 20px;
z-index: -3;

}
.writingContainer li{
    list-style: none;
    
}
button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
    outline: none;
}
@font-face{
    font-family: 'AaCassiopeia';
    src:url(../font/AaCassiopeia.ttf) format('truetype');
}
@font-face{
    font-family:'NanumMyeongjo-Bold';
    src:url(../font/NanumMyeongjo-Bold.ttf)format('truetype');
}
.titleBox{
  grid-column-start:2;
  grid-column-end: 20;
  grid-row-start: 5;
  grid-row-end: 5;
  font-size: 30px;
  font-family:'NanumMyeongjo-Bold';
}
.menuBox{
    display: grid;
    grid-template-columns: repeat(20,1fr);
    grid-template-rows: repeat(6,1fr);
    grid-auto-columns: 100px;
    grid-auto-rows: 100px;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100%;
    background-color:  #e9e9e9;
    position: fixed;
    z-index: 3;
}
.menuBox a{  
   list-style: none;     
}
.footer_button{
    width: 80px;
    height: 40px;
   align-items: center;
   font-size: 14px;
   grid-row-start: 2;
   grid-row-end: 6;
   grid-column-start:19;
   grid-column-end:20;
   background-color: rgb(0, 0, 0);
   color: white;
   border-radius: 20px;
   transition: background-color .5s;
   z-index: 9999;
   text-align: center;
   font-family: 'AaCassiopeia';
}
.footer_del{
    width: 80px;
    height: 40px;
   align-items: center;
   font-size: 14px;
   grid-row-start: 2;
   grid-row-end: 6;
   grid-column-start:17;
   grid-column-end:17;
   background-color: rgb(0, 0, 0);
   color: white;
   border-radius: 20px;
   transition: background-color .5s;
   z-index: 9999;
   text-align: center;
   font-family: 'AaCassiopeia';
}
.footer_modify{
    width: 80px;
    height: 40px;
   align-items: center;
   font-size: 14px;
   grid-row-start: 2;
   grid-row-end: 6;
   grid-column-start:18;
   grid-column-end:18;
   background-color: rgb(0, 0, 0);
   color: white;
   border-radius: 20px;
   transition: background-color .5s;
   z-index: 9999;
   text-align: center;
   font-family: 'AaCassiopeia';
}

.menuBox a:hover{
    background-color: tomato;

   
}
#list{
    margin-top: 10px;
}
#box{
  grid-column-start: 18;
  grid-column-end: 22;
  grid-row-start: 5;
  grid-row-end: 5;
  font-size: 16px;
  text-align: center;
  font-family: 'AaCassiopeia';
  
    text-align: center;
    box-sizing: border-box;
    padding: 0 5px;
  
}
#box2{
  grid-column-start: 2;
  grid-column-end: 12;
  grid-row-start: 7;
  grid-row-end: 20;
  font-size: 20px;
}
#box3{
    grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 13;
  grid-row-end: 41;
  
}
.viewBox{
    font-size: 16px;
    font-family: 'AaCassiopeia';
    grid-column-start: 22;
    grid-column-end: 26;
    grid-row-start: 5;
    grid-row-end: 5;
}
.post{
    grid-column-start: 9;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 1;
}
.post p{
   font-size: 10px;
}


