/* 각 디바이스 환경에 최적화하기 위해 max, min으로 예외 처리*/
body {
  max-width: 80%;
  max-height: 100%;
  min-width: 20%;
  min-height: 20%;
  margin: 0 auto;
}
/* 각 박스 안 제목 리스트 */
ul {
  list-style: none;
}
/* 바디 그리드 전체 설정 */
#gridWrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(15, 1fr);
  gap: 20px;
  align-content: center;
  justify-content: center;
  margin-top : 35px;
  /* background-color: #87ceeb; */
}
/* 홈화면 대문 사진 */
#home{
  width : 100%;
  height : 300px;
  object-fit: cover;
}


/* 바디 그리드 박스 개별 설정 */
#gridBox1 {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 7;
  /* border : solid 5px#87ceeb; */
  /* background-color: #eb9387; */
}
#gridBox2 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 7;
  grid-row-end: 15;
  border : solid 1px#87ceeb;
  /* background-color: #d9eb87; */
}

#gridBox3 {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 7;
  grid-row-end: 9;
  border : solid 1px#87ceeb;
  /* background-color: #87eba8; */
}

#gridBox4 {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 9;
  grid-row-end: 15;
  border : solid 1px#87ceeb;
  /* background-color: #9187eb; */
}





