.footer {
  text-align: center;
  list-style: none;
  font-size: 1em;
  margin-bottom : 100px;
  color : white;
}

.footer_wrap {
  display: grid;
  margin-top : 10%;
  margin-bottom: 3%;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(4, 1fr);
  color : white;
}

/* 다른 링크 속 a태그 색깔 안바뀌면 얘때문에 그럼! 나중에 색깔 바꿔야 하면 속성 inherit으로 바꾸기*/
a{
  color : white;
  text-decoration: none;
}
.footer_subTitle {
  list-style: none;
  font-size: 12px;
  grid-column-start: 3;
  grid-column-end: 7;
  grid-row-start: 5;
  grid-row-end: 5;
  color : white;
}
#warning{
  display : grid;
  margin-left : 10%;
  margin-right : 10%;
  margin-bottom : 2%;
  font-size : 10px;
  /* color: rgba(18, 0, 82, 0.603); */
  color : white;
}
#footer1 {
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  color : white;
}
#footer2 {
  grid-column-start: 5;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
  color : white;
}
#footer3 {
  grid-column-start: 6;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 3;
  color : white;
  /* background-color: rgb(118, 201, 187); */
}
#footer4 {
  grid-column-start: 7;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 3;
  color : white;
  /* background-color: rgb(88, 95, 192); */
}



/* 혹시 flex로 다시 짤 일 있으면 이걸로 살리기 */
/* .footer_wrap{
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1% 2%;
} */
