@font-face{
    font-family : "PlayfairDisplay";
    src : url("/css/font/PlayfairDisplay-Regular.ttf");
}
@font-face{
    font-family : "NanumMyeongjo";
    src : url("/css/font/NanumMyeongjo-Bold.ttf");
}
#sub{
    margin-top : 20px;
    margin-left : 20px;
    display: grid;
    grid-template-columns: repeat(1, 300px 4fr);
    grid-template-rows: repeat(1,300px 4fr);
}

#subMenu{
    list-style: none;
    display : flex;
    flex-direction: row;
    align-self: center;
    column-gap: 50px;
    color : #87ceeb
}

#subLogo{
    display : flex;
    justify-content: center;
    align-content: center;
    width : 250px;
}
.subject{
    grid-row  : 2;
    grid-column : 2;
    margin-left : 20px;
    font-size: 80px;
    font-family: "PlayfairDisplay";
    border-top : 2px solid #87ceeb;
}